body {
  background-color: rgb(230,194,106);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px #353535;
  overflow-x: hidden;
}

#day {
  color: rgb(238,238,238);
  font-size: 160px;
  font-weight: 500;
  padding: 10px;
}

#calendar {
  color: rgb(238,238,238);
  font-size: 80px;
}

#clock {
  color: rgb(238,238,238);
  font-size: 140px;
  padding: 10px;
}

#orb {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: auto;
}

#sunMoonEffect {
  margin: -8px -10px 0px -8px;
  padding: 60px 0 60px 0;
}

.night {
    background-color: rgb(35,50,65);
    transition:background-color 0.5s ease;
}

.dawn {
    background-color: rgb(55,210,230);
    background: linear-gradient(0deg, rgb(225,144,74), rgb(55,210,230));
    transition:background-color 100s ease;
}

.day {
    background-color: rgb(55,210,230);
    transition:background-color 0.5s ease;
}

.dusk {
    background-color: rgb(55,210,230);
    background: linear-gradient(0deg, rgb(225,106,74), rgb(225,144,74), rgb(55,210,230));
    transition:background-color 0.5s ease;
}

.sun {
  background-color: rgb(255,230,94);
  border: 10px solid rgb(240,195,15);
  margin: 10px 0 10px 0;
}

.moon {
  background-color: rgb(190,195,200);
  border: 10px solid rgb(234,239,242);
  padding: 10px;
}

.visible {
    background-color: rgb(234,239,242);
}

#moonspot1 {
    height: 15%;
    width: 15%;
    border-radius: 100%;
    float:right;
    margin: 3% 15% 7% 7%;
}

#moonspot2 {
    height: 25%;
    width: 25%;
    border-radius: 100%;
    float:right;
    margin: 18% 5% 7% 7%;
}

#moonspot3 {
    height: 55.5%;
    width: 55.5%;
    border-radius: 100%;
    float:right;
    margin: 0% 15% 0% 0%;
}

/* SHADOW/GLOW TRANSITIONS AND HOVER BOB
CREDIT TO: https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.sun-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*DEFAULT:  box-shadow: 0 0 1px rgba(0, 0, 0, 0);  */
  box-shadow: 0px 0px 80px 15px rgba(240, 195, 15, 0.8);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.moon-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*DEFAULT:  box-shadow: 0 0 1px rgba(0, 0, 0, 0);  */
  box-shadow: 0px 0px 20px 5px rgba(234, 239, 242, 0.8);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

/* MEDIA QUERIES FOR RESPONSIVE STUFF */
@media (max-width: 992px) {
  #day {
    font-size: 90px;
  }

  #calendar {
    font-size: 40px;
  }

  #clock {
    font-size: 60px;
  }

  #orb {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  #day {
    font-size: 80px;
  }

  #calendar {
    font-size: 40px;
  }

  #clock {
    font-size: 70px;
  }

  #orb {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 500px) {
  #day {
    font-size: 60px;
  }

  #calendar {
    font-size: 30px;
  }

  #clock {
    font-size: 50px;
  }

  #orb {
    width: 150px;
    height: 150px;
  }
}
